.btn {
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3.2rem;
    border: 0.2rem solid #fff;
    border-radius: 2.4rem;
    margin-left: auto;
    transition: .2s ease-in-out all;
}
.btn:hover {
    color: #002529;
    background: #fff;
}